.ceta{
    background-color: #97BC62FF;
}
.linkmodel {
    
   align-items: center;
   text-align: center;
   padding-left: 10%;
}

.linkmodel:hover{
background-color: #EA738DFF!important;
border-radius: 5px;
}
